extends ./layoutCliente

block contenido
  // Hero
  section
    .block
      .fixed-bg(style='background-image: url(/assets/images/topbg.jpg);')
      .page-title-wrapper.text-center
        .col-md-12.col-sm-12.col-lg-12
          .page-title-inner
            h1(itemprop='headline') Restaurantes
            span ¡Los mejores de la ciudad!
  section
    if(elPedidoID)
      h4 tienes un pedido actualmente
        input(type="text" name = "ordenActual" value = elPedidoID.id)
    else
      h4 aún no ordenas nada.
    .block.less-spacing.gray-bg.top-padd30
      .container
        .row
          .col-md-12.col-sm-12.col-lg-12
            .sec-box
              // Filtros
              .filters-wrapper
                ul.filter-buttons.center
                  li
                    a.brd-rd30(data-filter='*', itemprop='url' href='#') Todas
                  if (lasCategorias)
                    each categoria in lasCategorias
                      li
                        a.brd-rd30(data-filter=`.${categoria.id}`, itemprop='url' href='#') #{categoria.nombre}
                // RESTAURANTES FILTRADOS
              .filters-inner.style2
                .row
                  .masonry
                    ul
                      if (losRestaurantes)
                        each restaurante in losRestaurantes
                          li
                            .col-md-12.col-sm-12.col-lg-6.filter-item(class=`${restaurante.idCategoria}`)
                              .featured-restaurant-box.wow.fadeIn(data-wow-delay='0.2s')
                                .featured-restaurant-thumb
                                  a(href=`/foodLand/nuestrosRestaurantes/platillos/${restaurante.id}`)
                                    img.brd-rd50(src=`/images/Restaurantes/${restaurante.logo}`, alt='featured-restaurant-img1.jpg', itemprop='image')
                                .featured-restaurant-info
                                  h4(itemprop='headline')
                                    a(href=`/foodLand/nuestrosRestaurantes/platillos/${restaurante.id}`, title='', itemprop='url') #{restaurante.nombre}
                                  span.red-clr #{restaurante.descripcion}
                                  span.red-clr #{restaurante.direccion}
                                  span.red-clr #{restaurante.telefono}
