extends ./layoutAdmin

block contenido
  #my-orders.tab-pane.fade.in.active
    .tabs-wrp.brd-rd5
      // Datos Cuenta
      .welcome-note.yellow-bg.brd-rd5
        h4(itemprop='headline') BIENVENIDO A TU CUENTA
        p(itemprop='description') Como administrador pordras realizar diversas acciones en el sitio web.
        img(src='/assets/images/resource/welcome-note-img.png', alt='welcome-note-img.png', itemprop='image')
        a.remove-noti(href='#', title='', itemprop='url')
          img(src='/assets/images/close-icon.png', alt='close-icon.png', itemprop='image')
      // Platillos
      .dashboard-title
        h4(itemprop='headline') LISTA DE PLATILLOS
        .rite-meta
          a.view-more(href='/PlatilloForm', title='') Agregar
      // LISTA DE PLATILLOS
      .platillos-list
        ul
          if (platillos)
            each platillo in platillos
              li
                // Listado de las categorias
                .featured-restaurant-box.style3.brd-rd5.wow.fadeInUp(data-wow-delay='0.2s')
                  // Logo
                  .featured-restaurant-thumb
                    a(title='', itemprop='url')
                      img(src=`images/Platillos/${platillo.imagen}`, alt='platillo', itemprop='image')
                  .featured-restaurant-info
                    h4(itemprop='headline')
                      a(title='', itemprop='url') #{platillo.nombre}
                    span.red-clr Lps. #{platillo.precio}
                  .view-menu-liks
                    a.brd-rd3(href=`/modificarPlatillo/${platillo.id}`) Modificar
                    br
                    br
                    br
                    if(platillo.estado)
                      a.eliminar-platillo(class='brd-rd3', type='button', title='', itemprop='url', data-platillo-id=platillo.id) Inhabilitar
                    else
                      a.eliminar-platillo(class='brd-rd3', type='button', title='', itemprop='url', data-platillo-id=platillo.id) Habilitar