extends ./layoutAdmin

block contenido
  #dashboard.tab-pane.fade.in.active
    .dashboard-wrapper.brd-rd5
      // Datos Cuenta
      .welcome-note.yellow-bg.brd-rd5
        h4(itemprop='headline') BIENVENIDO A TU CUENTA
        p(itemprop='description') Como administrador pordras realizar diversas acciones en el sitio web.
        img(src='/assets/images/resource/welcome-note-img.png', alt='welcome-note-img.png', itemprop='image')
        a.remove-noti(href='#', title='', itemprop='url')
          img(src='/assets/images/close-icon.png', alt='close-icon.png', itemprop='image')
      // RESTAURANTES
      .dashboard-title
        h4(itemprop='headline') LISTA DE CATEGORÍAS
        .rite-meta
          a.view-more(href='/categoriaForm', title='') Agregar

      // LISTA DE CATEGORÍAS
      .categorias-list
        ul
          if (categorias)
            each categoria in categorias
              li
                // Listado de las categorias
                .featured-restaurant-box.style3.brd-rd5.wow.fadeInUp(data-wow-delay='0.2s')
                  // Logo
                  .featured-restaurant-thumb
                    a(title='', itemprop='url')
                       img(src=`images/Categorias/${categoria.imagen}`, alt='Categoria', itemprop='image')
                  .featured-restaurant-info
                    h4(itemprop='headline')
                      a(title='', itemprop='url') #{categoria.nombre}
                    span.red-clr #{categoria.descripcion}
                  .view-menu-liks
                    a.brd-rd3.modificar(href=`/editar_Categoria/${categoria.id}`) Modificar
                    br
                    br
                    br
                    a.eliminar-categoria(class='brd-rd3' type='button' data-categoria-id=categoria.id) Eliminar 
      // LISTA DE CATEGORÍAS  