extends ./layoutCliente

block contenido
  // Hero
  section
    .block
      .fixed-bg(style='background-image: url(/assets/images/topbg.jpg);')
      .page-title-wrapper.text-center
        .col-md-12.col-sm-12.col-lg-12
          .page-title-inner
            h1(itemprop='headline') Ordena
            span La comida más deliciosa de la ciudad
  div
  section
    if(elPedidoID)
      h4 tienes un pedido actualmente
        input(type="text" name = "ordenActual" value = elPedidoID.id)
    else
      h4 aún no ordenas nada.
    .block.gray-bg.bottom-padd210.top-padd30
      .container
        .row
          .col-md-12
            .sec-box
              .sec-wrapper
                .col-md-8.col-sm-12.col-lg-6
                  .restaurant-detail-wrapper
                    .restaurant-detail-info
                      // SLIDER
                      .restaurant-detail-thumb
                        ul.restaurant-detail-img-carousel
                          li
                            img.brd-rd3(src=`/images/Platillos/${elPlatillo.imagen}`, alt='restaurant-detail-big-img1-1.jpg', itemprop='image')
                      // PLATILLO
                      
                      .restaurant-detail-title
                        h1(itemprop='headline') #{elPlatillo.nombre}
                        .info-meta
                          span
                            a(title='', itemprop='url') #{elRestaurante.nombre}
                        span.price Lps. #{elPlatillo.precio}                     
                        p(itemprop='description') #{elPlatillo.descripcion}
                        br
                        form(action=`/foodLand/platillos/pedidos/${elPlatillo.id}`, method="post")
                          .qty-wrap
                            input.qty(type='number', value='1', min='1' name="cantidad")
                          input.brd-rd3(type ='submit' title='', itemprop='url' value="Ordenar") 
                // COMANDA
                .col-md-4.col-sm-12.col-lg-6
                  .order-wrapper
                    .order-inner.gradient-brd
                      h4(itemprop='headline') Tu orden
                      .order-list-wrapper
                        ul.order-list-inner
                          // Primer platillo
                          li
                            .dish-name
                              i 1.
                              h6(itemprop='headline')
                                a(href='#') Nombre
                              span.price
                                i.fa.fa-pencil(aria-hidden='true')
                              span.price
                                i.fa.fa-trash(aria-hidden='true')
                            .dish-name
                              br
                              h6(itemprop='headline')
                                a() #{`Cantidad   100   X   $90.00 `}
                              span.price $9000.00
                          // Segundo platillo
                          li
                            .dish-name
                              i 1.
                              h6(itemprop='headline')
                                a(href='#') Nombre
                              span.price
                                i.fa.fa-pencil(aria-hidden='true')
                              span.price
                                i.fa.fa-trash(aria-hidden='true')
                            .dish-name
                              br
                              h6(itemprop='headline')
                                a() #{`Cantidad   100   X   $90.00 `}
                              span.price $9000.00
                        // Subtotales
                        ul.order-total
                          li
                            span SubTotal
                            i $158
                          li
                            span Delivery fee
                            i $70
                          li
                            span Tax
                            i $12
                        ul.order-method.brd-rd2.red-bg
                          li
                            span Total
                            span.price $340
                          li
                            a.brd-rd2(href='#', title='', itemprop='url') Confirmar orden
